@charset "UTF-8";

html,body{
	font-family: LatoRegular;
}

.main {
	margin-bottom:1em;
}

.panel.panel-primary .panel-body{
	padding:0;
}

.footer {
	padding:1em 0;
	margin-top:1em;
	border-top:1px solid gray;
}

.spklobby {
	background:url('../img/jumbotron.jpg') no-repeat center center fixed;
}
#cookies {
    position:fixed;
    bottom:0;
    left:0;
    right:0px;
    background-color:#272b30;
    z-index:1040;
    border-top:1px solid gray;
    padding:.5em;
	display:none;
}
#cookies a{
	color:blue;
}