@charset "UTF-8";

@font-face {
	font-family: 'UbuntuB';
	src: url('../fonts/Ubuntu-B.ttf') format('truetype');
}
.UbuntuB{font-family:UbuntuB;}

@font-face {
	font-family: 'UbuntuBI';
	src: url('../fonts/Ubuntu-BI.ttf') format('truetype');
}
.UbuntuBI{font-family:UbuntuBI;}

@font-face {
	font-family: 'UbuntuC';
	src: url('../fonts/Ubuntu-C.ttf') format('truetype');
}
.UbuntuC{font-family:UbuntuC;}

@font-face {
	font-family: 'UbuntuL';
	src: url('../fonts/Ubuntu-L.ttf') format('truetype');
}
.UbuntuL{font-family:UbuntuL;}

@font-face {
	font-family: 'UbuntuLI';
	src: url('../fonts/Ubuntu-LI.ttf') format('truetype');
}
.UbuntuLI{font-family:UbuntuLI;}

@font-face {
	font-family: 'UbuntuM';
	src: url('../fonts/Ubuntu-M.ttf') format('truetype');
}
.UbuntuM{font-family:UbuntuM;}

@font-face {
	font-family: 'UbuntuMI';
	src: url('../fonts/Ubuntu-MI.ttf') format('truetype');
}
.UbuntuMI{font-family:UbuntuMI;}

@font-face {
	font-family: 'UbuntuMonoB';
	src: url('../fonts/UbuntuMono-B.ttf') format('truetype');
}
.UbuntuMonoB{font-family:UbuntuMonoB;}

@font-face {
	font-family: 'UbuntuMonoBI';
	src: url('../fonts/UbuntuMono-BI.ttf') format('truetype');
}
.UbuntuMonoBI{font-family:UbuntuMonoBI;}

@font-face {
	font-family: 'UbuntuMonoR';
	src: url('../fonts/UbuntuMono-R.ttf') format('truetype');
}
.UbuntuMonoR{font-family:UbuntuMonoR;}

@font-face {
	font-family: 'UbuntuMonoRI';
	src: url('../fonts/UbuntuMono-RI.ttf') format('truetype');
}
.UbuntuMonoRI{font-family:UbuntuMonoRI;}

@font-face {
	font-family: 'UbuntuR';
	src: url('../fonts/Ubuntu-R.ttf') format('truetype');
}
.UbuntuR{font-family:UbuntuR;}

@font-face {
	font-family: 'UbuntuRI';
	src: url('../fonts/Ubuntu-RI.ttf') format('truetype');
}
.UbuntuRI{font-family:UbuntuRI;}
