@charset "UTF-8";

/* CSS for global-functions.js */
#spinner {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:1110;
	background-color:rgba(0,0,0,.7);
}
#spinner div.cog {
	/*background-color:lightgray;*/
	width:120px;
	height:60px;
	border-radius:.5em;
	text-align:center;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-60px;
	margin-top:-30px;
	z-index:1111;
}
#spinner div.cog > div {
	margin-top: .3em;
}

.alertclass{
	position:fixed;
	top:2%;
	left:5%;
	right:5%;
	z-index:9;
	box-shadow:0px 0px 5px 2px;
}

/* Pointer forms */
.cursor-auto { cursor:auto; }
.cursor-crosshair { cursor:crosshair; }
.cursor-default { cursor:default; }
.cursor-e-resize { cursor:e-resize; }
.cursor-grab { cursor:grab; }
.cursor-help { cursor:help; }
.cursor-move { cursor:move; }
.cursor-n-resize { cursor:n-resize; }
.cursor-ne-resize { cursor:ne-resize; }
.cursor-nw-resize { cursor:nw-resize; }
.cursor-pointer { cursor:pointer; }
.cursor-progress { cursor:progress; }
.cursor-s-resize { cursor:s-resize; }
.cursor-se-resize { cursor:se-resize; }
.cursor-sw-resize { cursor:sw-resize; }
.cursor-text { cursor:text; }
.cursor-w-resize { cursor:w-resize; }
.cursor-wait { cursor:wait; }
.cursor-not-allowed { cursor:not-allowed; }
.cursor-no-drop { cursor:no-drop; }

/* CSS Color names (Thanks http://htmlcolorcodes.com/color-names/) */
.txtcolor-aliceblue { color:AliceBlue; }
.txtcolor-antiquewhite { color:AntiqueWhite; }
.txtcolor-aqua { color:Aqua; }
.txtcolor-aquamarine { color:Aquamarine; }
.txtcolor-azure { color:Azure; }
.txtcolor-beige { color:Beige; }
.txtcolor-bisque { color:Bisque; }
.txtcolor-black { color:Black; }
.txtcolor-blanchedalmond { color:BlanchedAlmond; }
.txtcolor-blue { color:Blue; }
.txtcolor-blueviolet { color:BlueViolet; }
.txtcolor-brown { color:Brown; }
.txtcolor-burlywood { color:BurlyWood; }
.txtcolor-cadetblue { color:CadetBlue; }
.txtcolor-chartreuse { color:Chartreuse; }
.txtcolor-chocolate { color:Chocolate; }
.txtcolor-coral { color:Coral; }
.txtcolor-cornflowerblue { color:CornflowerBlue; }
.txtcolor-cornsilk { color:Cornsilk; }
.txtcolor-crimson { color:Crimson; }
.txtcolor-cyan { color:Cyan; }
.txtcolor-darkblue { color:DarkBlue; }
.txtcolor-darkcyan { color:DarkCyan; }
.txtcolor-darkgoldenrod { color:DarkGoldenrod; }
.txtcolor-darkgray { color:DarkGray; }
.txtcolor-darkgreen { color:DarkGreen; }
.txtcolor-darkkhaki { color:DarkKhaki; }
.txtcolor-darkmagenta { color:DarkMagenta; }
.txtcolor-darkolivegreen { color:DarkOliveGreen; }
.txtcolor-darkorange { color:DarkOrange; }
.txtcolor-darkorchid { color:DarkOrchid; }
.txtcolor-darkred { color:DarkRed; }
.txtcolor-darksalmon { color:DarkSalmon; }
.txtcolor-darkseagreen { color:DarkSeaGreen; }
.txtcolor-darkslateblue { color:DarkSlateBlue; }
.txtcolor-darkslategray { color:DarkSlateGray; }
.txtcolor-darkturquoise { color:DarkTurquoise; }
.txtcolor-darkviolet { color:DarkViolet; }
.txtcolor-deeppink { color:DeepPink; }
.txtcolor-deepskyblue { color:DeepSkyBlue; }
.txtcolor-dimgray { color:DimGray; }
.txtcolor-dodgerblue { color:DodgerBlue; }
.txtcolor-firebrick { color:FireBrick; }
.txtcolor-floralwhite { color:FloralWhite; }
.txtcolor-forestgreen { color:ForestGreen; }
.txtcolor-fuchsia { color:Fuchsia; }
.txtcolor-gainsboro { color:Gainsboro; }
.txtcolor-ghostwhite { color:GhostWhite; }
.txtcolor-gold { color:Gold; }
.txtcolor-goldenrod { color:Goldenrod; }
.txtcolor-gray { color:Gray; }
.txtcolor-green { color:Green; }
.txtcolor-greenyellow { color:GreenYellow; }
.txtcolor-honeydew { color:HoneyDew; }
.txtcolor-hotpink { color:HotPink; }
.txtcolor-indianred { color:IndianRed; }
.txtcolor-indigo { color:Indigo; }
.txtcolor-ivory { color:Ivory; }
.txtcolor-khaki { color:Khaki; }
.txtcolor-lavender { color:Lavender; }
.txtcolor-lavenderblush { color:LavenderBlush; }
.txtcolor-lawngreen { color:LawnGreen; }
.txtcolor-lemonchiffon { color:LemonChiffon; }
.txtcolor-lightblue { color:LightBlue; }
.txtcolor-lightcoral { color:LightCoral; }
.txtcolor-lightcyan { color:LightCyan; }
.txtcolor-lightgoldenrodyellow { color:LightGoldenrodYellow; }
.txtcolor-lightgray { color:LightGray; }
.txtcolor-lightgreen { color:LightGreen; }
.txtcolor-lightpink { color:LightPink; }
.txtcolor-lightsalmon { color:LightSalmon; }
.txtcolor-lightsalmon { color:LightSalmon; }
.txtcolor-lightseagreen { color:LightSeaGreen; }
.txtcolor-lightskyblue { color:LightSkyBlue; }
.txtcolor-lightslategray { color:LightSlateGray; }
.txtcolor-lightsteelblue { color:LightSteelBlue; }
.txtcolor-lightyellow { color:LightYellow; }
.txtcolor-lime { color:Lime; }
.txtcolor-limegreen { color:LimeGreen; }
.txtcolor-linen { color:Linen; }
.txtcolor-magenta { color:Magenta; }
.txtcolor-maroon { color:Maroon; }
.txtcolor-mediumaquamarine { color:MediumAquamarine; }
.txtcolor-mediumblue { color:MediumBlue; }
.txtcolor-mediumorchid { color:MediumOrchid; }
.txtcolor-mediumpurple { color:MediumPurple; }
.txtcolor-mediumseagreen { color:MediumSeaGreen; }
.txtcolor-mediumslateblue { color:MediumSlateBlue; }
.txtcolor-mediumslateblue { color:MediumSlateBlue; }
.txtcolor-mediumspringgreen { color:MediumSpringGreen; }
.txtcolor-mediumturquoise { color:MediumTurquoise; }
.txtcolor-mediumvioletred { color:MediumVioletRed; }
.txtcolor-midnightblue { color:MidnightBlue; }
.txtcolor-mintcream { color:MintCream; }
.txtcolor-mistyrose { color:MistyRose; }
.txtcolor-moccasin { color:Moccasin; }
.txtcolor-navajowhite { color:NavajoWhite; }
.txtcolor-navy { color:Navy; }
.txtcolor-oldlace { color:OldLace; }
.txtcolor-olive { color:Olive; }
.txtcolor-olivedrab { color:OliveDrab; }
.txtcolor-orange { color:Orange; }
.txtcolor-orangered { color:OrangeRed; }
.txtcolor-orchid { color:Orchid; }
.txtcolor-palegoldenrod { color:PaleGoldenrod; }
.txtcolor-palegreen { color:PaleGreen; }
.txtcolor-paleturquoise { color:PaleTurquoise; }
.txtcolor-palevioletred { color:PaleVioletRed; }
.txtcolor-papayawhip { color:PapayaWhip; }
.txtcolor-peachpuff { color:PeachPuff; }
.txtcolor-peru { color:Peru; }
.txtcolor-pink { color:Pink; }
.txtcolor-plum { color:Plum; }
.txtcolor-powderblue { color:PowderBlue; }
.txtcolor-purple { color:Purple; }
.txtcolor-rebeccapurple { color:RebeccaPurple; }
.txtcolor-red { color:Red; }
.txtcolor-rosybrown { color:RosyBrown; }
.txtcolor-royalblue { color:RoyalBlue; }
.txtcolor-saddlebrown { color:SaddleBrown; }
.txtcolor-salmon { color:Salmon; }
.txtcolor-sandybrown { color:SandyBrown; }
.txtcolor-seagreen { color:SeaGreen; }
.txtcolor-seashell { color:SeaShell; }
.txtcolor-sienna { color:Sienna; }
.txtcolor-silver { color:Silver; }
.txtcolor-skyblue { color:SkyBlue; }
.txtcolor-slateblue { color:SlateBlue; }
.txtcolor-slategray { color:SlateGray; }
.txtcolor-snow { color:Snow; }
.txtcolor-springgreen { color:SpringGreen; }
.txtcolor-steelblue { color:SteelBlue; }
.txtcolor-tan { color:Tan; }
.txtcolor-teal { color:Teal; }
.txtcolor-thistle { color:Thistle; }
.txtcolor-tomato { color:Tomato; }
.txtcolor-turquoise { color:Turquoise; }
.txtcolor-violet { color:Violet; }
.txtcolor-wheat { color:Wheat; }
.txtcolor-white { color:White; }
.txtcolor-whitesmoke { color:WhiteSmoke; }
.txtcolor-yellow { color:Yellow; }
.txtcolor-yellowgreen { color:YellowGreen; }
